.logo{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 10px;
}
.body{
margin-top: 15%;
}
.searchbar{
  text-align:center;


}
input.text{
  height:24px;
  width:30%;

}
button{
  background-color: white;
  border:black;
  transform: translateY(8px);
}
