.logo{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 10px;
}
.body{
margin-top: 15%;
}
.searchbar{
  text-align:center;
  font-family:Raleway;

}
input.text{
  height:40px;
  width:35%;
  font-size:16px;
  font-family:Raleway;
}
button{
  background-color: 	#FFD8B0;
  border:	#FFD8B0;
  transform: translate(-4px, 7px);
  height:40px;
  width:40px;

}
 button img{
   transform:translateX(0px);
 }
