button{
  background-color:white;
  border:none;
  margin-top:3px;
  font-size:16px;


}
button.svg{
  background-color: 	#FFD8B0;
  border:	#FFD8B0;
  transform: translate(-4px, -6px);
  height:30px;
  width:30px;
  border: solid 3px;
  border-color: black;

}
button img{
  transform: translateX(-3px);
}
input{
  height:30px;
  width:285px;
  font-size:16px;
  font-family:Raleway;
  transform: translateY(-13px);
  text-align: left;
  border: solid 3px;
  border-color: black;

}
div#suggestions{
  width:285px;
  border: solid 1px gray;
  transform: translateX(-292px);
  background-color:white;
  text-align: left;

}

.nav {
  margin-left: 100px;
}

#imgResults {
    margin-top: 15px;
    margin-left: 100px;
    max-width: 80%;
}

.searchImg {
    float: left;
    max-width: 20%;
}

div#suggestions{
  width:
  border: solid 1px gray;
  transform: translate(-101.5%,9px);
  position:absolute;

}
