button{
  background-color:white;
  border:none;
  margin-top:3px;
  font-size:16px;


}
button.svg{
  background-color: 	#FFD8B0;
  border:	#FFD8B0;
  transform: translate(-6px, -7px);
  height:36px;
  width:36px;
  border: solid 3px;
  border-color: black;

}
button img{
  transform: translateX(-3px);
}
input{
  height:36px;
  width:285px;
  font-size:16px;
  font-family:Raleway;
  font-weight: bold;
  transform: translateY(-13px);
  text-align: left;
  border: solid 3px;
  border-color: black;

}
div#suggestions{
  width:280px;
  border: solid 2px black;
  background-color:white;
  text-align: left;

}

.nav {
  margin-left: 100px;
}

#imgResults {
    margin-top: 15px;
    margin-left: 100px;
    max-width: 80%;
}

.searchImg {
    float: left;
    max-width: 30%;
}

div#suggestions{
  border: solid 1px gray;
  transform: translate(-101.5%,9px);
  position:absolute;

}

.giggle {
  transform: translateY(2px);
}

.topLogo {
    color: #FFFFFF;
    text-decoration: none;
}

.showWeb, .showImgs {
    border: 3px solid;
    border-color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.webResult {
    padding: 10px;
    padding-top: 0px;
    max-width: 60%;
}

.webLink {
  text-decoration: none;
  color: #3385ff;
}

.closeIn {
  margin: 0px;
  padding: 0px;
  -webkit-margin-after: 0;
}

.outLink {
  color: #196619;
}
